.addImg {
  width: 450px;
  height: 200px;
  border-radius: 10px;
  object-fit: cover;
  margin: 50px;
}

label {
  color: #eee;
}

form {
  display: flex;
  flex-direction: column;
  padding-right: 1rem;
  padding-left: 1rem;
  padding-bottom: 1rem;
  margin: auto;
  max-width: 600px;
  padding-top: 10rem;
}

form label {
  margin-bottom: 0.5rem;
}

form input,
textarea {
  margin-bottom: 1rem;
  padding: 10px 18px;
  font-size: 1.2rem;
  font-family: "Outfit", sans-serif;
  background: rgba(255, 255, 255, 0.1);
  border-color: rgba(255, 255, 255, 0.1);
  color: #f4f4f4;
}

form select {
  margin-bottom: 1rem;
  padding: 10px 18px;
  font-size: 1.2rem;
  font-family: "Outfit", sans-serif;
  background: rgba(255, 255, 255, 0.1);
  border-color: rgba(255, 255, 255, 0.1);
  color: #f4f4f4;
}

form .question {
  color: #f4f4f4;
  justify-content: center;
  text-align: center;
  margin-top: 15px;
}

form .question span {
  color: red;
  text-decoration: underline;
  font-weight: 300px;
  text-transform: uppercase;
}
h1 {
  text-align: center;
}

.button {
  margin-left: 3px;
  padding: 12px 32px;
  font-size: 1.2rem;
  text-transform: uppercase;
  background: transparent;
  color: #fff;
  border: 1px solid #fff;
  cursor: pointer;
}
.addIcon {
  width: 30px;
  height: 30px;
  font-size: 20px;
  color: white;
  display: inline-block;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.add{
    font-size: 25px;
    margin-bottom: 25px;
    white-space: nowrap; 
    font-weight: bold;
}

@media screen and (max-width:1240px){
  .addImg {
    max-width: 90%;
    height: auto;
    border-radius: 10px;
    object-fit: cover;
    margin: 15px;
  }
}
