        /* ADD PICS STYLES */
        .images {
            display: flex;
            flex-wrap:  wrap;
            margin-top: 20px;
        }
        .images .img,
        .images .pic {
            flex-basis: 31%;
            margin-bottom: 10px;
            border-radius: 4px;
        }
        .images .img {
            background-color: rgba(0, 0, 0, 0.055);
            width: 112px;
            height: 93px;
            background-size: cover;
            margin-right: 10px;
            background-position: center;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            position: relative;
            overflow: hidden;
        }
        .images .img:nth-child(3n) {
            margin-right: 0;
        }
        .images .img span {
            display: none;
            text-transform: capitalize;
            z-index: 2;
        }
        .images .img::after {
            content: '';
            width: 100%;
            height: 100%;
            transition: opacity .1s ease-in;
            border-radius: 4px;
            opacity: 0;
            position: absolute;
        }
        .images .img:hover::after {
            display: block;
            background-color: #000;
            opacity: .5;
        }
        .images .img:hover span {
            display: block;
            color: #fff;
        }
        .images .pic {
            background-color: rgba(70, 70, 70, 0.5);
            color : white;
            /* background-color: #F5F7FA; */
            align-self: center;
            text-align: center;
            padding: 40px 0;
            text-transform: uppercase;
            /* color: #848EA1; */
            font-size: 12px;
            cursor: pointer;
        }
        
        @media screen and (max-width: 400px) {
            .images .img,
            .images .pic {
                flex-basis: 100%;
                margin-right: 0;
            }
        }