label {
    color: #eee;
}

form {
    display: flex;
    flex-direction: column;
    padding-right: 1rem;
    padding-left: 1rem;
    padding-bottom: 1rem;
    margin: auto;
    max-width: 600px;
    padding-top: 10rem;
}

form label {
    margin-bottom: .5rem;
}

form input, textarea {
    margin-bottom: 1rem;
    padding: 10px 18px;
    font-size: 1.2rem;
    font-family: 'Outfit', sans-serif;
    background: rgba(255,255,255,.1);
    border-color: rgba(255,255,255,.1);
    color: #f4f4f4;
}
form .question{
    color: #f4f4f4;
    justify-content: center;
    text-align: center;
    margin-top: 15px;
}

form .question span{
    color: red;
    text-decoration: underline;
    font-weight: 300px;
    text-transform: uppercase;
}
